*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00358e;
}
.nav {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.pnglogoap {
  width: 300px;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.socialmedia__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.socialmedia__li {
  list-style: none;
  margin: 0.5em;
}
.logosocial__anchor {
  text-decoration: none;
  color: #fff;
}
.socialmedia__img {
  height: 70px;
}
