<app-header></app-header>
<app-about></app-about>
<app-experience></app-experience>
<app-academical></app-academical>
<app-skills></app-skills>
<app-projects></app-projects>

<router-outlet></router-outlet>